header {
	background:#5c0d12;
}
.jakelee {display:block;}
header img {
	display:block;
	margin:auto;
	padding:10px 0 0 0;
	max-width:100%;
	width:800px;
}
h1 {
	font-family:UnifrakturCook;
	text-align: center;
	font-size:5em;
	padding: 20px 0;
	color:#f7eb96;
	font-weight:100;
	line-height:1em;
}